<section class="bg-zinc-900 p-20 rounded-xl">
    <h1 class="text-5xl font-bold my-8 text-center">About Us</h1>
    <p class="text-zinc-300">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero aut, eaque hic commodi eveniet culpa quia porro soluta autem voluptas consequatur neque saepe pariatur, sint quis necessitatibus architecto quo itaque aperiam placeat magni modi aspernatur voluptatem ullam! Eos, inventore distinctio!</p>
</section>

